.main {
  margin: 0 auto;
}
.main .sidebar {
  position: fixed;
  top: 61px;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.main .sidebar .sidebar-inner {
  width: 280px;
  padding: 35px 0px 60px 20px;
}
.main .content {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 35px 0 35px 50px;
}
