name: Github Actions Build and Deploy Gatsby
on: 
  push:
    branches:
      - develop

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Gatsby Publish
        uses: enriikke/gatsby-gh-pages-action@v2.1.1
        with:
          # A personal access token needed to push your site after it has been built.
          access-token: ${{secrets.Access_Token}}
          # The branch expected by GitHub to have the static files needed for your site.
          deploy-branch: master # optional, default is master
          # Additional arguments that get passed to `gatsby build`.
